/* BASE */
body {
    background-color: #FFF;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left; /* for IE */
}

* {
    margin: 0 ;
    padding: 0 ;
}

img {
    border: none ;
}


/* LAYOUT */

#page_margins {
    margin: 1em ;
}

#header {
    position: absolute;
    right: 1em ;
    top: 1em ;
}


#header h1 {
    font-size: 100% ;
}

#teaser h2 {
    font-size: 120% ;
    color: blue ;
}

#teaser {
    position: absolute;
    top: 5% ;
    left: 30% ;
    text-align: center ;
}

#col1 {
    position: absolute ;
    top: 10% ;
    left: 1em ;
    vertical-align: top;
    width: 20% ;
    margin: 0 3em 1em 1em ;
    height: 60% ;
}

#col3 {
    position: absolute ;
    top: 10% ;
    left: 25% ;
    padding-left: 1em ;
    margin: 1em ;
    vertical-align: top;
}

#wizardButtons {
    position: absolute ;
    top: 70% ;
    right: 3em ;
    text-align: right ;
}

#footer {
    position: fixed ;
    bottom: 1em ;
    right: 1em ;
    color: gray ;
}

#sideLabels div {
    font-weight: normal;
    margin-bottom: 0.5em ;
}

#sideLabels div.selected {
    font-weight: bold;
    color: blue ;
}

#ie_clearing {
    clear: both;
}
/* DECORATION */

#col1 {
    border-right: 2px dotted gray ;
}

#wizardButtons button {
    margin: 0.5em ;
    width: 6em ;
}

.databasePanel input {
    margin-bottom: 1em ;
}